@import "_variables";
@font-face {
  font-family: $mainFont;
  src: url($mainFontURL);
}
:root {
    --colorprincipal: darkgreen;
    --colorsecundario: lightgray;
    --colortitulo: white;
    --titulosize: clamp(1.5rem, 3.5vw, 3rem);
    --textosize: clamp(.7rem, 2.5vw, 1rem)
}
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Montserrat, "Open Sans";
    background-image: url(../background.jpg);
    object-fit: contain;
    padding-top: 40px;
    padding-bottom: 60px;
}
@media screen and (min-width:815px){
  body{
    padding-top: 60px;
    padding-bottom: 0;
  }
}

ul{
    list-style-type: none;
    padding-left: 0;
}
a {
  text-decoration: none;
}

/*Xurxo*/
.container-fluid{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.title{
  font-size: calc(1.375rem + 1.5vw);
  color: var(--colorprincipal);
  font-weight: 300;
  line-height: 1.2;
}

.p-1{
  padding: .25rem;
}
.p-2{
  padding: .5rem;
}
.p-3{
  padding: 1rem;
}
.m-3{
  margin: 1rem;
}

.hr{
  border: 10px solid var(--colorprincipal);
  width:50vw;
  border-radius: 5px;
}

.main-title{
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 300;
  line-height: 1.2;
}
.secondary-title{
  font-size: calc(1.275rem + 1vw);
  font-weight: 300;
  line-height: 1.2;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn.disabled, .btn:disabled, fieldset:disabled .btn {
  pointer-events: none;
  opacity: .65;
}
