@import "_variables";
@font-face {
  font-family: $mainFont;
  src: url($mainFontURL);
}
:root {
    --colorprincipal: darkgreen;
    --colorsecundario: lightgray;
    --colortitulo: white;
    --titulosize: clamp(1.5rem, 3.5vw, 3rem);
    --textosize: clamp(.7rem, 2.5vw, 1rem)
}
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Montserrat, "Open Sans";
    background-image: url(../background.jpg);
    object-fit: contain;
    padding-top: 40px;
    padding-bottom: 60px;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
a {
  text-decoration: none;
}
.container-fluid{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.title{
  font-size: calc(1.375rem + 1.5vw);
  color: var(--colorprincipal);
  font-weight: 300;
  line-height: 1.2;
}

.p-1{
  padding: .25rem;
}
.p-3{
  padding: .5rem;
}
.p-3{
  padding: 1rem;
}

.hr{
  border: 10px solid var(--colorprincipal);
  width:50vw;
  border-radius: 5px;
}

.main-title{
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 300;
  line-height: 1.2;
}
.secondary-title{
  font-size: calc(1.275rem + 1vw);
  font-weight: 300;
  line-height: 1.2;
}
