.header-nav-app-laptop{
    background-color: var(--colorprincipal);
    text-transform: uppercase;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
}
.header-nav-app-laptop .header-logo{
        display: flex;
        height: 100%;
        flex-grow: 1;
    }
    .header-nav-app-laptop .header-logo li a{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-size: 40px;
            color: var(--colortitulo);
            text-transform: uppercase;
            font-weight: 900;
            margin: 0;
            padding: 0 10px;
        }

    .header-nav-app-laptop .menu-buttons-laptop{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 1;
        height: 60px;
    }
    .header-nav-app-laptop .menu-buttons-laptop li{
        width: 130px;
        height: 100%;
        border-left: 1px solid rgba(255, 255, 255, .3);
    }    
    
    .header-nav-app-laptop .menu-buttons-laptop .element-button-laptop a{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            color: var(--colortitulo);
            font-size: 14px;
            justify-content: center;
            align-items: center;
            text-align: center;
            transition: all .2s linear;
        }
        .header-nav-app-laptop .menu-buttons-laptop .element-button-laptop a i{
            font-size: 0px;
            transition: all .2s linear;
        }

/* Hover elementos buttons */

.header-nav-app-laptop .menu-buttons-laptop .element-button-laptop a:hover{
    height: calc(100% + 10px);
    background-color: var(--colorprincipal);
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
   
    transform: scale(1.02);
    animation: bounceAnimation .9s ease;
}
    .menu-buttons-laptop .element-button-laptop:hover i{
        display: block;
        font-size: 22px !important;
        padding-bottom: 5px;
    }
    /*Active*/
   
    .header-nav-app-laptop .menu-buttons-laptop .router-link-active{
        height: 70px !important;
        background-color: var(--colorprincipal);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 1px solid rgba(255, 255, 255, .3);
        transform: scale(1.02);
        transition: all .2s linear;
    }
        .header-nav-app-laptop li .router-link-active i {
            font-size: 22px !important;
        }

     /* buscador menu laptop    */
     .header-nav-app-laptop .menu-buttons-laptop .header-search-laptop{
        display: flex;
        align-items: center;
        transition: all .2s linear;
        width: 50px
    }
    .header-nav-app-laptop .menu-buttons-laptop .header-search-laptop  a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .header-nav-app-laptop .menu-buttons-laptop .header-search-laptop  a i{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: var(--colortitulo);
            text-align: center;
            width: 100%;
            height: 100%;
        }
        .header-nav-app-laptop .menu-buttons-laptop .header-search-laptop input{
            font-size: 16px;
            width: 0px;
            height: 25px;
            border-radius: 5px;
            border: none;
            transition: all .2s linear;   
        }

        /* hover busqueda */
        .header-nav-app-laptop .menu-buttons-laptop .header-search-laptop:hover i{
            animation: bounceAnimation 2s infinite;
        }
            @keyframes bounceAnimation{
            0%   { transform: scale(1,1)    translateY(0); }
            10%  { transform: scale(1.1,.9) translateY(0); }
            30%  { transform: scale(.9,1.1) translateY(-5px); }
            50%  { transform: scale(1,1)    translateY(0); }
            100% { transform: scale(1,1)    translateY(0); }
            }      
       
        .header-nav-app-laptop .search-li-animation {
            width: 250px !important;
        }
        .header-nav-app-laptop .search-li-animation input{
            width: 200px !important;
            margin-right: 10px;
            padding:2px
        }
        .header-nav-app-laptop .search-li-animation input:focus{
                outline: none;
            } 