.main-footer .menu-principal{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 7px solid var(--colortitulo);
    box-shadow: 0px 0px 6px 0 white;
}
.main-footer .menu-principal .menu-elements{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        background-color: var(--colorprincipal);
        justify-content: space-around;
        align-items: center;
        
    }
    .main-footer .menu-principal .menu-elements li{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;       
    }
    .main-footer .menu-principal .menu-elements li a{
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: var(--colortitulo);
        position: relative;  
    }
    .main-footer .menu-principal .menu-elements li a p{
        position: absolute;
        bottom: 7px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .main-footer .menu-principal .menu-elements li a i{
            
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: var(--colortitulo);
            width: 50px;
            height: 50px;
            border: 5px solid transparent;
            transition: all .2s ease-in-out;  
        }
        .main-footer .menu-principal .menu-elements li a:hover::before{  
            content: "";
            position: absolute;
            background-color: transparent;
            border-top-right-radius: 100%;
            width: 25px;
            height: 20px;
            top: 2px;
            left:7px;
            box-shadow: 0 -6px 0 0 var(--colortitulo);  
        }
        .main-footer .menu-principal .menu-elements li a:hover::after{
            content: "";
            position: absolute;
            background-color: transparent;
            border-top-left-radius: 100%;
            width: 25px;
            height: 20px;
            top: 2px;
            right:7px;
            box-shadow: 0 -6px 0 0 var(--colortitulo); 
        }

/* NAVEGADOR HOVER */

.main-footer .menu-principal .menu-elements li a:hover i{
    transform: translateY(-25px);
    background-color: var(--colorprincipal);
    border: 4px solid var(--colortitulo);
    border-radius: 100%;
    box-shadow: 0px -1px 6px 0 var(--colortitulo);
}
.main-footer .menu-principal .menu-elements li a:hover p{
        display: block;
        font-size: 13px;
    }

/**Active */

.main-footer li .router-link-exact-active i {
    transform: translateY(-25px);
    background-color: var(--colorprincipal);
    border: 5px solid var(--colortitulo) !important;
    border-radius: 100%;
    transition: all .2s linear !important; 
}
.main-footer .router-link-exact-active p{
        display: block !important;
        font-size: 13px;
    }

    .main-footer .router-link-exact-active::after {
        content: "";
            position: absolute;
            background-color: transparent;
            border-top-left-radius: 100%;
            width: 25px;
            height: 20px;
            top: 2px;
            right:7px;
            box-shadow: 0 -6px 0 0 var(--colortitulo); 
    }
    .main-footer .router-link-exact-active::before{  
            content: "";
            position: absolute;
            background-color: transparent;
            border-top-right-radius: 100%;
            width: 25px;
            height: 20px;
            top: 2px;
            left:7px;
            box-shadow: 0 -6px 0 0 var(--colortitulo);  
        }