.main-footer .menu-principal {
  width: 100%;
  height: 40px;
}
.main-footer .menu-principal .menu-elements {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 100%;
  height: inherit;
  background-color: var(--colorprincipal);
  justify-content: space-around;
  align-items: center;
}
.main-footer .menu-principal .menu-elements li a {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--colortitulo);
  position: relative;
}
.main-footer .menu-principal .menu-elements li a p {
  position: absolute;
  text-transform: uppercase;
  font-size: .8rem;
  transform: translateY(100px);
  transition: transform .2s linear;
}
.main-footer .menu-principal .menu-elements li a i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: var(--colortitulo);
  width: 42px;
  height: 42px;
  border: 2px solid transparent;
  transition: all .2s linear;
}
/**Active */

.main-footer .menu-principal .menu-elements .router-link-exact-active i {
  transform: translateY(-20px);
  background: var(--colorprincipal);
  border: 3px solid var(--colortitulo);
  border-radius: 100%;
}
.main-footer .menu-principal .menu-elements .router-link-exact-active p {
    transform: translateY(10px);
}