
@import url(design.css) root;

@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

/* FORMULARIO */

    .titulo-administracion h2{
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        padding:10px;
    }
    .titulo-administracion p{
        font-size: 25px;
        text-align: center;
    }
.form-administrativo{
    display: grid;
    gap: 5px;
    font-size: 25px;
    min-width: 320px;
    max-width: 50%;
    margin: 20px auto;
}
    .form-administrativo .administrativo-input{
       display: grid;
       grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
       gap: 5px;
    }
    .form-administrativo .administrativo-submit{
        width: 100px;
        height: 50px;
    }
    .form-administrativo input{
        height: 30px;
        font-size: var(--textosize);
        font-family:  montserrat;
    }
    .form-administrativo textarea{
        resize: none;
        width: 100%;
        font-size: 25px;
        font-family: montserrat;
        min-width: 320px;
    }

/* CATALOGO ADMINISTRATIVO */

.catalogo-administrativo-section h2{
    text-align: center;
    font-size: var(--titulosize);
    margin: 10px;
}

.catalogo-administrativo{
    width: 100%;
    font-size: var(--textosize);
}
    .catalogo-administrativo th{
        background-color: var(--colorprincipal);
        color: white;
        font-size: var(--textosize);
    }

    .table-header th:nth-child(-n+2){
        width: 200px;
    }
        .table-subheader th{
            width: 200px;
            font-size: var(--textosize);
        }
    .table-header th:last-child{
        width: 150px;
        margin: 0 auto;
    }
tr:nth-child(odd){
    background-color: var(--colorsecundario);
}
tr td{
    padding-left: 5px;
}


 .table-icons{
     display: flex;
     width: 100px;
     justify-content: center;
     margin: auto;
     padding: auto;
     align-items: center;
     gap: 10px;
 }
    .table-icons i{
        font-size: var(--textosize);
        color: var(--colorprincipal);
    }

    .mostrar{
       position: relative;
    }
    .mostrar:hover::before{
        content: attr(data-titulo);
        position: absolute;
        background-color: gray;
        color: white;
        font-size: var(--textosize);
        padding: 0 5px;
        transform: translate(-50% , -50%);
        top: 30px;
        left: 50%;
        z-index: 1;
    }
    
/* FORMULARIO USUARIO   */

.formulario-section{
    background-image: url(../images/Carballo-del-Bosque-del-Banquete-de-Conxo-SANTIAGO-DE-COMPOSTELA-GALICIA-set-2021-scaled.jpg);
    object-fit: cover;
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 90px) ;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario-usuario-app{
    margin: 20px auto;
    backdrop-filter: blur(5px);
    background-color: rgba(240,240,240, .6);
    width: 340px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
}

.formulario-usuario-app input[type=text]{
    width: 100%;
    margin-bottom:5px;
    font-size: 16px;   
}


/* Diseño estructura formulario */

    .formulario-usuario-app h1{
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        padding-bottom: 10px;
    }
        .formulario-usuario-app  i{
            color: black;
            font-size: 30px;
        }
    .formulario-usuario-app fieldset{
        border: 2px solid white;
        padding: 10px;
    }
    .formulario-usuario-app fieldset legend{
        text-align: center;
    }
    .h2-form{
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        padding: 0 10px;
        color: var(--colorprincipal)
    }

/* Nombre y caracteristicas */
    #description-arbol{
        width: 100%;
        height: 100px;
        resize: none;
        padding: 5px;
        font-family: montserrat;
        font-size: 16px;
    }
    .form-label{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }
        #especie{
            margin-bottom: 5px;
            font-size: 16px;
            width: calc(100% - 70px);
        }

/* Cargar imágenes */
.formulario-usuario-app input[type=file]{
    font-size: 12px;
}
.formulario-usuario-app  input#file-upload-button{
    font-size: 12px;
    width: 10px;
}

/* Localización   */
#arbol-provincia{
    margin-bottom: 5px;
    font-size: 16px;
    width: calc(100% - 80px);
}
.location-button{
    display: flex;
    padding: 5px 10px;
    margin: 5px auto;
}
    .location-button i{
        font-size: 16px;
    }

.label-form-input-location{
    display: grid;
    grid-template-columns: 1fr 2fr;

}
    #latitud, #longitud{
        width: 100%;
        margin-bottom: 5px;
        font-size: 16px;
    }
    .submit-arbol{
        display: flex;
        text-align: center;
        font-size: 16px;
        padding: 5px 10px;
        margin: 10px auto;
        border-radius: 5px;
    }